* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, black, transparent);
    position: fixed;
    z-index: 1;
    height: 75px;
    width: 100%;
    color: aliceblue;
}

.navbar a img {
    height: 50px;
}

.navbar ul li {
    display: inline-block;
    margin: 0 4px;
}

.navbar ul li a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
    color: aliceblue;
}

.nav-link:hover {
    background-color: #6eaaa19b;
}

.menu-icon {
    display: none;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    gap: 20px;
    height: 800px;
    background-image: url('./assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #112222;
}

.btn {
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #6eaaa19b;
}


.servicos {
    background-image: linear-gradient(to bottom, #6EAAA1, #112222);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-serv-imgs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serv-img {
    position: absolute;
    opacity: 0;
    border-radius: 10px;
}

.on {
    opacity: 1;
    position: relative;
}

#prev-btn, #next-btn {
    color: aliceblue;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #112222;
    height: 600px;
    gap: 30px;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}

.objetivos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.objetivo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.413);
    padding: 30px;
    border-radius: 8px;

}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #112222;
    height: 600px;
    gap: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.413);
    padding: 30px;
    border-radius: 8px;
}

.formulario input {
    padding: 10px;
    border-radius: 8px;
}

.formulario div {
    display: flex;
    flex-direction: column;
}

.objetivo h3 {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {

    .navbar ul {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: rgb(45, 47, 47);
        text-align: center;
    }
    .navbar {
        justify-content: space-between;
    }


    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .navbar ul li a {
      display:  inline-block;
      font-size: 20px;
      padding: 10px;
      color: aliceblue;
    }

    .navbar.active ul {
      display: flex;
      flex-direction: column;
    }

    .menu-icon {
      display: inline-block;
      cursor: pointer;
      margin-right: 20px;
    }

    .serv-img {
        width: 500px;
    } 

}

@media screen and (max-width: 700px) {

    .navbar ul {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: rgb(45, 47, 47);
        text-align: center;
    }
    
    .navbar {
        justify-content: space-between;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .navbar ul li a {
      display:  inline-block;
      font-size: 20px;
      padding: 10px;
      color: aliceblue;
    }

    .navbar.active ul {
      display: flex;
      flex-direction: column;
    }

    .menu-icon {
      display: inline-block;
      cursor: pointer;
      margin-right: 20px;
    }
    
    .serv-img {
        width: 250px;
    }

    .cont-serv-imgs {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .objetivo {
        width: 250px;
        font-size: 80%;
    }
}